.list-folder-item {
    cursor: pointer;
    font-size: 0.8em;
    margin-bottom: 0.4em;
}

.list-folder-item > svg {
    color: var(--main-color);
    margin-right: 0.4em;
}

.dark-mode .list-folder-item {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #333;
}