/* Light mode (default) */
body {
  background-color: white;
  color: black;
}

.header-button {
  background: none;
  border: none;
  color: var(--main-color);
  font-size: 16px;
  cursor: pointer;
}

.folder-btn {
  padding: 1em 0 0;
}

.folder-btn > svg {
  font-size: 1.2em;
  color: var(--main-color);
}

.folder-btn > svg:hover {
  color: var(--main-color-light);
}

.folders-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.new-folder-btn {
  font-size: 0.8em;
  padding-left: 0;
}

.new-folder-btn > svg {
  color: var(--main-color);
}

.form-control {
  border: none;
  outline: none;
}

.form-control:focus {
  outline: none;
  max-width: 98%;
}

.folder-group {
  list-style-type: none;
}

.secondary > svg {
  color: #8e8d8d;
}

.sidebar {
  height: 100vh;
  border-right: 1px solid #ddd;
}

.list-group-item.active {
  background-color: #1e1e1e;
}

/* Dark mode */
.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .sidebar {
  background-color: #1e1e1e;
  border-right: 1px solid #333;
}

.dark-mode .list-group-item {
  background-color: #1e1e1e;
  color: #ffffff;
  border-color: #333;
}

.list-group-item.active {
  background-color: var(--main-color-light);
  color: inherit;
}

.dark-mode textarea {
  background-color: #1e1e1e;
  color: #ffffff;
  border: none;
  outline: none;
}

.dark-mode textarea:focus {
  background-color: #1e1e1e;
  color: #ffffff;
  border-color: #1e1e1e;
  outline: none;
}

.dark-mode .btn-secondary {
  background-color: #333;
  border-color: #444;
  color: #fff;
}

.dark-mode .btn-secondary:hover {
  background-color: #444;
  border-color: #555;
}

.dark-mode .new-folder-btn {
  color: #fff;
}